body {
  background: url(./assets/rock-paper-scissors.png);
  color:  #FFF01F;
  font-family: "Anton", sans-serif;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  margin-top: 5%;
  font-size: 2rem;
  background-repeat: no-repeat;
 background-size: cover;
}
